<%- include('partials/header') %>
    <%- include('partials/topbar') %>

        <section id="main">
            <div class="controlPanel" style="color:black;">
                <div id="blackClock" class="sideBlock clock short">
                    <div id="blackTurnClock" class="turnClock unvisible"><img src="/Images/clock.png" width="24" />
                    </div>
                    <div id="blackClockTimeText">05:00:00</div>

                </div>
                <div id=" blackPlayersInfo" class="sideBlock playerInfo short">
                    <div class="dot" id="blackPlayerStatus"></div>
                    <div id="blackPlayerName" style="color:black;"></div>
                    <div id="blackPlayerDiconnectionTimer" class="disconnectionTimer hide"> (60)</div>
                </div>

                <div id="whiteCapturedPiece" class="sideBlock captureToolsList"></div>
                <div>
                    <div id="movesDiv" class="movesDiv" readonly>

                    </div>
                    <div id="gameNav" class="gameNav">

                    </div>
                </div>
            </div>

            <div class="seperator"></div>

            <div id="chessboard"> </div>

            <div class="seperator"></div>


            <div class="controlPanel">
                <div id="whiteClock" class="sideBlock clock short">
                    <div id="whiteTurnClock" class="turnClock unvisible" style="filter: invert(1)"><img
                            src="/Images/clock.png" width="24" />
                    </div>
                    <div id="whiteClockTimeText">05:00:00</div>
                </div>
                <div id="whitePlayersInfo" class="sideBlock playerInfo short">
                    <div class="dot" id="whitePlayerStatus"></div>
                    <div id="whitePlayerName"></div>
                    <div id="whitePlayerDiconnectionTimer" class="disconnectionTimer hide"> (60)</div>
                </div>
                <div id="blackCapturedPiece" class="sideBlock captureToolsList"></div>

                <textarea id="messages" class="messages" readonly>

                </textarea>


            </div>
        </section>

        <section id="options">
        </section>

        <%- include('partials/footer') %>