<%- include('partials/header') %>
    <%- include('partials/topbarDefault') %>
        <section id="main">
            <form method="post" action="/login">
                <h1 style="color: #550000">
                    <%=errorMessage%>
                </h1>
                <label for="username">Username:</label>
                <input id="username" username="username" name="username" autofocus autocomplete>
                </label>
                <br><br>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" autocomplete>
                </label>
                <br><br>
                <button>Login</button>
            </form>
        </section>

        <%- include('partials/footer') %>