<div id="header">
    <div id="menuButton">
        <img src="/Images/menu.png" width="36px" onclick="OpenMenu()">
    </div>
    <div>Chess</div>


    <div id="logout"><a href="/logout">
            <% if (username) { %>
                <%=username %>, Logout
                    <% } %>
        </a></div>


</div>

<div id="mainMenu" class="mainMenu" style="visibility: hidden;">
    <div class="menuItem" onclick="menuNewGameOnePlayer()">Human Vs. Computer</div>
    <div class="menuItem" onclick="menuNewGameTwoPlayers()">New Game 2 Players</div>
    <div class="menuItem" onclick="menuResignEventHandler()">Resign</div>
    <div class="menuItem" onclick="menuUndo()">Undo</div>
    <div class="menuItem" onclick="menuSaveEventHandler();">Save</div>
    <div class="menuItem" onclick="menuLoadEventHandler()">Load</div>
    <div class="menuItem" onclick="menuPositionSetup()">Position Setup</div>
    <div class="menuItem" onclick="menuSettings()">Settings</div>
    <div class="menuItem last" onclick="">Help</div>
</div>